/* Estilos para la barra de navegación */
.container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: rgb(96, 105, 241);
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li > a {
    padding: 8px 24px;
}

li {
    list-style-type: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

/* Estilos para la sección "About" */
.about h1 {
    text-align: center;
}

.about p {
    margin: 50px;
}

.img {
    margin: 10px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.img img {
    width: 200px;
    height: auto;
}

/* Estilos para la sección "Services" */
.container-services {
    text-align: left;
    margin: 20px;
}

.container-services h1 {
    text-align: center;
    margin: 0;
}

.container-services ul {
    padding: 0;
    margin: 10px;
    text-align: left;
}

.container-services ul li {
    margin-bottom: 10px;
}

/* Estilos para la sección "Home" */
.container {
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.container h1 {
    width: 100%;
}

.container section {
    flex-basis: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.video {
    display: flex;
    justify-content: center;
}

/* Estilos para la sección "Contact" */
.container-contact {
    margin: 20px;
}

.container-contact h1 {
    text-align: center;
    margin: 0;
}

.container-contact-text {
    margin: 10px;
}

.redes {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.redes li {
    margin-bottom: 10px;
}

/* Estilos generales */
@media (max-width: 700px) {
    .container h1,
    .container section h2,
    .container section p,
    .about h1,
    .about p {
        font-size: 14px;
    }
}

body {
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    height: fit-content;
    width: 100%;
    background-color: rgb(217, 176, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-home {
    justify-content: center;
}
